In [1]:
#Create a vehicle class with an init method having instance variables as name_of_vehicle, max_speed
#and average_of_vehicle.

In [6]:
class Vehicle:
    def __init__(self,name_of_vehicle,max_speed,average_of_vehicle):
        self.name_of_vehicle=name_of_vehicle
        self.max_speed=max_speed
        self.average_of_vehicle=average_of_vehicle

In [3]:
veh=Vehicle('TT',200,3357)

In [4]:
veh

In [5]:
#Create a child class car from the vehicle class created in Que 1, which will inherit the vehicle class.
#Create a method named seating_capacity which takes capacity as an argument and returns the name of
#the vehicle and its seating capacity.

In [8]:
class Car(Vehicle):
    def seating_capacity(self,capacity):
        return f"Car name is {self.name_of_vehicle} and Car capacity is {capacity}"

In [13]:
cr=Car("Mini Audi Test",200,2000)

In [14]:
cr.seating_capacity(7)

'Car name is Mini Audi Test and Car capacity is 7'

In [15]:
#What is multiple inheritance? Write a python code to demonstrate multiple inheritance.

In [16]:
#Python facilitates inheritance of a derived class from more than one base class which is also called as multiple inheritance in Python.

In [53]:
class Employee:
    def __init__(self,eid,ename,esalary):
        self.eid=eid
        self.ename=ename
        self.esalary=esalary
class Employer:
    def __init__(self,companyName):
        self.companyName=companyName

In [54]:
class SystemEng(Employee,Employer):
    def show(eid,ename,esalary,companyName):
        print("EID ",eid)
        print("ENAME ",ename)
        print("ESALARY ",esalary)
        print("CompanyName ",companyName)
    def cal_bonus(esalary):
        bonus=esalary*0.5/100
        return bonus

In [55]:
SystemEng.show("1001","John",50000,"Google")

EID  1001
ENAME  John
ESALARY  50000
CompanyName  Google

In [56]:
bonus=SystemEng.cal_bonus(50000)

In [57]:
bonus

250.0

In [58]:
bonus=SystemEng.cal_bonus(100000)

In [59]:
bonus

500.0

In [52]:
#Overriding
class Employee:
	def __init__(self,id,name,salary):
		self.id=id
		self.name=name
		self.salary=salary
	def show(self):
		print("Person ID is ",self.id)
		print("Person Name is ",self.name)
		print("Person Salary is ",self.salary)
	def bonus(self):
		ba=self.salary*5/100
		print("Bonus amount is ",ba)

class SysEngg(Employee):
	pass
s=SysEngg(10,"Pooja",50000)
s.show()
s.bonus()

class TeamLead(Employee):
	def bonus(self):
		ba=self.salary*10/100
		print("Bonus amount is ",self.ba)
s=SysEngg(30,"Jyoti",100000)
s.show()
s.bonus()

class AccLead(Employee):
	def bonus(self):
		ba=self.salary*15/100
		print("Bonus amount is ",self.ba)
s=SysEngg(30,"Raj",200000)
s.show()
s.bonus()

Person ID is  10
Person Name is  Pooja
Person Salary is  50000
Bonus amount is  2500.0
Person ID is  30
Person Name is  Jyoti
Person Salary is  100000
Bonus amount is  5000.0
Person ID is  30
Person Name is  Raj
Person Salary is  200000
Bonus amount is  10000.0

In [67]:
import math
class Circle:
    def __init__(self,radius):
        self.radius=radius
    def set_Radius(self,radius):
        self.radius = radius
    def get_Radius(self):
        return self.radius
    def calculateArea(self):
        return math.pi*self.radius**2
    def calculatePeri(self):
        return 2*math.pi*self.radius

In [68]:
round(Circle(10).calculateArea(),2)

314.16

In [69]:
round(Circle(10).calculatePeri(),2)

62.83