In [1]:
#Q1. What are the characteristics of the tuples? Is tuple immutable?

#Some of the characteristics features of Tuples are:

#Tuples are defined in the same way as lists.
#They are enclosed within parenthesis and not within square braces.
#Elements of the tuple must have a defined order.
#Negative indices are counted from the end of the tuple, just like lists.
#Tuple also has the same structure where commas separate the values.

In [3]:
tupl1 = ('computersc', 'IT', 'CSE')
tup2 = (6,5,4,3,2,1)

In [5]:
tupl1

('computersc', 'IT', 'CSE')

In [6]:
tupl1['IT']=100

TypeError: 'tuple' object does not support item assignment

In [7]:
tupl1 = ('computersc', 'IT', 'CSE');
tupl2 = (1993, 2016);
tupl3 = (2, 4, 6, 8, 10, 12, 14, 16);

print ("tupl1[0]", tupl1[0])
print ("tupl3[2:4]", tupl3[2:4])

tupl1[0] computersc
tupl3[2:4] (6, 8)

In [8]:
tupl1 = (2, 3, 4);
tupl2 = ('ab', 'cd');
tupl3 = tupl1 + tupl2

print (tupl3)

(2, 3, 4, 'ab', 'cd')

In [9]:
tupl3 = (2, 4, 6, 8, 10, 12, 14, 16)
del tupl3

In [10]:
tupl3

NameError: name 'tupl3' is not defined

In [11]:
tuple_empty= ()
print ( tuple_empty)

()

In [13]:
tupl1.count(2)

1

In [14]:
tupl1.index(2)

0

In [17]:
#Set is a collection which is unordered and unindexed. No duplicate members.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [18]:
set(List)

{1, 2, 3, 4}

In [19]:
# A set of integers
int_set = {10, 20, 30, 40, 50}
 
# A set of mixed data types
mixed_set = {9, "This is a set element", (1, 2)}
 
# All set elements are unique
my_set = {1, 2, 3, 1, 3, 3}
print(my_set) # Output: {1, 2, 3}
 
# A set can be made from a list
my_set = set([1, 2, 3, 2, 4, 5, 5])
print(my_set) # Output: {1, 2, 3, 4, 5}

{1, 2, 3}
{1, 2, 3, 4, 5}

In [20]:
# Initialize a set
my_set = {11, 60}
 
# Add an element to the set
# Output: {11, 21, 60}
my_set.add(21)
print(my_set)
 
# Add more than one element to the set
# Output: {8, 11, 13, 20, 21, 60}
my_set.update([20, 13, 8])
print(my_set)

{11, 60, 21}
{8, 11, 13, 20, 21, 60}

In [21]:
# Defining the two sets
first_set = {1, 5, 7, 4, 5}
second_set = {4, 5, 6, 7, 8}
 
# Creating the union of the two sets
new_set = first_set | second_set
 
print(new_set) # Output: {1, 2, 3, 4, 5, 6, 7, 8}

{1, 4, 5, 6, 7, 8}

In [22]:
new_set = first_set.union(second_set)

In [23]:
new_set

{1, 4, 5, 6, 7, 8}

In [24]:
#Dictionaries are used to store data values in key:value pairs.

#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [25]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
#WAP to demo list
#list declare

d1=[]
print(d1)
print(type(d1))

d2=[10,30,20,40,10,50]
print(d2)

d3=["neha","pooja","jyoti"]
print(d3)

d4=list()
print(d4,type(d4))

#display list
print(d3)

for d in d3:
	print(d)

#List operations
data1=[10,30]
data2=[10,30,40,20]
print(data1+data2)
print(data1*2)
print(10 in data1)
print(90 in data2)
print(data1==data2)


#add element in list
data = []
print([])
data.append("a")
print(data)
data.append("b")
print(data)
data.append("c")  #append can not add more than one element
print(data)
data.extend(["d","e","f"])  #to add more than 1 element
print(data)


#remove element
print(data.pop())
print(data)
print(data.pop(1))
print(data.remove("a"))
print(data.clear())
print(data)


#extract method

data = [10,40,50,20,70,40,60,30]
print(data)
data.sort()
print(data)


data = [10,40,50,20,70,40,60,30]
print(data)
data.sort(reverse=True)
print(data)


data = [10,40,50,20,70,40,60,30]
print(data)
data.sort()
data.reverse()
print(data)

[]
<class 'list'>
[10, 30, 20, 40, 10, 50]
['neha', 'pooja', 'jyoti']
[] <class 'list'>
['neha', 'pooja', 'jyoti']
neha
pooja
jyoti
[10, 30, 10, 30, 40, 20]
[10, 30, 10, 30]
True
False
False
[]
['a']
['a', 'b']
['a', 'b', 'c']
['a', 'b', 'c', 'd', 'e', 'f']
f
['a', 'b', 'c', 'd', 'e']
b
None
None
[]
[10, 40, 50, 20, 70, 40, 60, 30]
[10, 20, 30, 40, 40, 50, 60, 70]
[10, 40, 50, 20, 70, 40, 60, 30]
[70, 60, 50, 40, 40, 30, 20, 10]
[10, 40, 50, 20, 70, 40, 60, 30]
[70, 60, 50, 40, 40, 30, 20, 10]

In [27]:
#a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

nested_dict = { 'dictA': {'key_1': 'value_1'},
                'dictB': {'key_2': 'value_2'}}

In [28]:
nested_dict

{'dictA': {'key_1': 'value_1'}, 'dictB': {'key_2': 'value_2'}}

In [29]:
d = {'a': 97, 'b': 98, 'c': 99, 'd': 100}
# space key added using setdefault() method
d.setdefault(' ', 32)
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, ' ': 32}

In [35]:
dis={}
dis.setdefault('','Python')
dis.setdefault('','Machine Learning')
dis.setdefault('','Deep Learning')

'Python'

In [36]:
dis

{'': 'Python'}

In [37]:
dis={}
dis.setdefault('A','Python')
dis.setdefault('B','Machine Learning')
dis.setdefault('C','Deep Learning')

'Deep Learning'

In [38]:
dis

{'A': 'Python', 'B': 'Machine Learning', 'C': 'Deep Learning'}

In [39]:
#The dictionary view objects include dict.keys(), dict.values(), dict.items().
#They are used to obtain the dynamic view of the dictionary elements in python. These objects reflect the changes made to the dictionary.

In [40]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [42]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [43]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [44]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [47]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])